/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 40, 112);
}

/* Navbar styles */
.navbar {
    background-color: rgb(20, 34, 84);
    color: #fff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

/* Logo styles */
.navbar-logo a {
    color: #fff;
    /* text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold; */
}

/* Links styles */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #7d49ff; /* Change this to your preferred hover color */
}

/* Button styles */
.navbar-button button {
    color: #fff;
    border: 2px solid #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.btn{
    background-color: #7d49ff;
    
    border-radius: 5px;
}

.navbar-button button:hover {
    
    background-color: #410dc3; /* Change this to your preferred hover color */
}
