<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <title>MyBite</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <a href="#">
                    <img src="{{ url_for('static', filename='assets/MyBiteLogo.png') }}" alt="" width="180px" height="50px">
                </a>
            </div>
            <ul class="navbar-links">
                <li><a href="/">Dashboard</a></li>
                <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
                <li><a href="{{ url_for('orders') }}">Orders</a></li>
                <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
            </ul>
            <div class="navbar-button">
                <button class="btn">New Bill</button>
            </div>
        </div>
    </nav>
</body>
</html>